.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sits on top */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black with opacity */
  border-radius: 10px;
}

.modal-content {
  border-radius: 10px;
  position: releative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 70%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-anmiation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
  font-size: 1vw;
}

/* Add animation */
@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

/*The close button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px 0px 16px;
  background-color: #01426a;
  color: white;
  border-radius: 10px 10px 0 0;
}

.modal-header-text {
  font-size: 2vw;
  color: #ffffff;
  padding-bottom: 20px;
}

.modal-body {
  padding: 0 20px 50px 16px;
}

.modal-body > p {
  margin-bottom: 30px;
}
