* {
  box-sizing: border-box;
}

input[type=text], input[type=number]{
  width: 100%;
  padding: 12px;
  border-radius: 4px;
  resize: vertical;
  font-size: 1vw;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
  font-size: 1vw;
}

.new-user__card{
  padding: 20px;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3rem;
  border: 1px solid #01426a;
}

.new-user__control{
  width: 100%;
  max-width: 500px;
  margin-bottom: 1rem;
}

.new-user__controls{
  margin-bottom: 2rem;
}